body {
  background-color: #d6ffab;
  font-family: "Arial", sans-serif;
  color: #3a2f2f;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 20px;
}

form {
  background-color: hsl(40, 100%, 96%);
  border: 2px dashed #966218;
  padding: 15px;
  border-radius: 0;
  max-width: 480px;
  margin: 0 auto 20px auto;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #a58873;
  background-color: #f1ede2;
  color: #3a2f2f;
}

input[type="checkbox"] {
  margin-right: 6px;
}

button {
  background-color: #9fc088;
  color: #232323;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #8bad73;
}

#get-students-btn {
  display: block;
  margin: 0 auto 20px auto;
  background-color: #d77a61;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 14px;
}

th {
  background-color: #eee2dc;
  color: #a50a0a;
  padding: 8px;
}

td {
  padding: 6px;
  border-top: 1px solid #ddd;
  text-align: center;
}

td button {
  margin: 2px;
  background-color: #eed971;
  border: none;
  padding: 5px;
}

td button:hover {
  background-color: #d8c25e;
}


  
